
#fine-uploader-basic .qq-upload-drop-area {
  background: none;
  border: 3px dashed gray;
  border-radius: 5px;
  height: 30px;
  margin: 0 0 0 110px;
  width: 80%;
}
#fine-uploader-basic .qq-upload-drop-area-active {
  background: rgba(123,123,123,1);
}
#triggerUpload {
  background: #259238;
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
}
#triggerUpload span {
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
}
